#restaurantBox{
    width: 25%;
    height: auto;
    padding: 0.4%;
    padding-left: 0.35%;
    background-color: #F0B3DB;
    box-shadow: inset -1px -1px #3D1F31, inset 1px 1px #FFFFFF, inset -2px -2px #3D1F31, inset 2px 2px #FFFFFF;
}
#top-bar{
    width: 20%;
    height: 10%;
    background-color: #873E66;
    display: table-cell; 
    vertical-align: middle;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-left: 0.7%;
    padding-left: 0.5%;
}
top-title{
    color: #FFFFFF;
    display: table-cell; 
    vertical-align: middle;
    font-size: 1.1rem;
}
button{
    background-color: #F0B3DB;
    box-shadow: inset -1px -1px #3D1F31, inset 1px 1px #FFFFFF, inset -2px -2px #3D1F31, inset 2px 2px #FFFFFF;
}
p{
    font-size: 1rem;
    text-align: left;
}
#make-row{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    font-size: larger;
}